@font-face {
    font-family: Roboto-Regular, sans-serif;
    src: url(../fonts/Roboto-Regular.woff2) format(woff2);
    src: url(../fonts/Roboto-Regular.woff) format(woff);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Medium, sans-serif;
    src: url(../fonts/Roboto-Medium.woff2) format(woff2);
    src: url(../fonts/Roboto-Medium.woff) format(woff);
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: Roboto-Bolt, sans-serif;
    src: url(../fonts/Roboto-Bolt.woff2) format(woff2);
    src: url(../fonts/Roboto-Bolt.woff) format(woff);
    font-weight: 700;
    font-display: swap;
}